.content {
	&--dark {
		background-color: $theme-dark;
		color: white;
	}
	&--light {
		color: $theme-dark;
	}
} 

.projects {
	height: 75vh;
}

.hero {
	button {
		position: relative;
		top: 45px;
		z-index: 1;
	}
	&__clip-path {
		height: 5rem;
		clip-path: polygon(50% 95%, 0 0, 100% 0);
		background-color: $theme-dark;
	}
}

section, footer {
	padding: 2rem;

	p {
		padding-bottom: 1rem;
	}
}