.content {
	&--dark {
		background-color: $theme-dark;
		color: white;
	}
	&--light {
		color: $theme-dark;
	}
} 

.projects {
	margin: auto 10%;
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		img {
			width: 100%;
		}
	}
	&__buttons {
		display: flex;

		button {
			margin-right: 0.5rem;
		}
	}
}

.hero {
	button {
		position: relative;
		top: 45px;
		z-index: 1;
	}
	// The triangle at the bottom of the header
	&__clip-path {
		height: 5rem;
		position: relative;
		bottom: 1px;
		clip-path: polygon(50% 99%, 0 0, 100% 0);
		background-color: $theme-dark;
	}
}

section, footer {
	padding: 2rem;

	p {
		padding-bottom: 1rem;
	}
}

@media only screen and (max-width: 1200px) {
	.projects {
		margin: auto 8%;
		&__container {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}