button {
	color: white;
	border: 0;
	background: $theme-accent;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	transition: 250ms;
	transition-timing-function: cubic-bezier(.7,-0.83,.43,1.74);

	&:hover {
		transform: scale(1.1);
	}
}

footer button {
	margin: 1.5rem;
}