@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#intro__name {
	text-transform: uppercase;
}

body, h1 {
	font-family: 'Muli', sans-serif;
	text-align: center;
}

p {
	margin-bottom: 0;
}

footer a {
	color: white;
	&:hover {
		color: #31D1DC;
	}
	i {
		margin: 0.25rem;
		font-size: 1.25rem;
	}
}