@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#intro__name {
	text-transform: uppercase;
}

body, h1 {
	font-family: 'Muli', sans-serif;
	text-align: center;
}

p {
	margin-bottom: 0;
}

footer a, .hero a {
	color: white;
	.fab {
		font-size: 1.5rem;
		padding: 0.75rem;
		margin: 0 0.5rem;
		border-radius: 100%;
		background: $theme-accent;
		transition: 200ms;
		transition-timing-function: cubic-bezier(.7,-0.83,.43,1.74);
		&:hover {
			transform: scale(1.15);
		}
	}
	i {
		margin: 0.25rem;
		font-size: 1.25rem;
	}
}
